body {
  background-color: #DDDDDD;
  padding: 3em; }
  body #loadScreen {
    display: none;
    margin: 10em auto 0 auto;
    border: 0.5em solid #DDDDDD;
    padding: 5em;
    text-align: center;
    color: #ffffff;
    width: 60%;
    border-radius: 15px; }
  body nav a {
    margin: 0 10%;
    display: inline-block;
    background-color: grey;
    text-decoration: none;
    color: #ffffff;
    width: 12%;
    text-align: center;
    line-height: 2em; }
  body section {
    display: none;
    color: #000000;
    text-align: center; }
